.input-title {
  border: none;
  background: transparent;
  font-size: inherit;
  font-weight: bold
}

.input-title:focus {
  outline: none
}

.new-post .ql-container.ql-snow {
  border: none !important
}

.ql-editor {
  min-height: 60vh;
}

.ql-toolbar.ql-snow {
  border-right: none;
  border-left: none
}

.ql-container .ql-snow {}