.HomePost.card {
    cursor: pointer;
    position: relative;
    left: 0px;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1)
}

.HomePost.card:hover {
    left: 15px;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1)
}